#cy {
  width: 100%;
  height: calc(100vh - 92px);
  background-color: rgb(255, 255, 255);
}

.open-card-btn {
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 10;
  /* Ensures button stays on top */
}

.floating-card {
  border: 2px solid #51cbce;
  position: absolute;
  top: 76px;
  right: 14px;
  width: 300px;
  z-index: 8; /* Higher than Cytoscape nodes */
}

.card-close-btn {
  position: absolute;
  top: 8px;
  right: 13px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.card-title {
  position: absolute;
  top: 15px;
  left: 10px;
  max-width: 70%;
  font-size: 16px;
}

.hidden-info-card{
  display: none;
}

// .popup-box {
//   position:absolute;
//   background: white;
//   border: 1px solid black;
//   width: 50px;
//   height: 60px;
//   padding: 10px;
//   border-radius: 5px;
//   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
//   z-index: 20;
// }




.node-action-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  // opacity: 0.6;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 8;
}

.node-action-button:hover {
  background-color: darkred;
}